<h1>Weather Dashboard</h1>

<h3>Trips Taken Based on Temperature</h3>
  <table>
    <tr>
      <th>Temperature Range</th>
      <th>Average Trips Taken</th>
      <th>Most Trips Taken</th>
      <th>Least Trips Taken</th>
    </tr>
    <tr>
      <th>40-49</th>
      <td>AVG</td>
      <td>Most</td>
      <td>Least</td>
    </tr>
    <tr>
      <th>50-59</th>
      <td>AVG</td>
      <td>Most</td>
      <td>Least</td>
    </tr>
    <tr>
      <th>60-69</th>
      <td>AVG</td>
      <td>Most</td>
      <td>Least</td>
    </tr>
    <tr>
      <th>70-79</th>
      <td>AVG</td>
      <td>Most</td>
      <td>Least</td>
    </tr>
    <tr>
      <th>80-89</th>
      <td>AVG</td>
      <td>Most</td>
      <td>Least</td>
    </tr>
    <tr>
      <th>90-99</th>
      <td>AVG</td>
      <td>Most</td>
      <td>Least</td>
    </tr>
  </table>
</p>

<p>
  <h3>Trips Taken Based on Precipitation</h3>
  <table>
    <tr>
      <th>Precipitation Range(inches)</th>
      <th>Average Trips Taken</th>
      <th>Most Trips Taken</th>
      <th>Least Trips Taken</th>
    </tr>
    <tr>
      <th>0-0.49</th>
      <td>AVG</td>
      <td>Most</td>
      <td>Least</td>
    </tr>
    <tr>
      <th>0.50-0.99</th>
      <td>AVG</td>
      <td>Most</td>
      <td>Least</td>
    </tr>
    <tr>
      <th>1-1.49</th>
      <td>AVG</td>
      <td>Most</td>
      <td>Least</td>
    </tr>
    <tr>
      <th>1.5-1.99</th>
      <td>AVG</td>
      <td>Most</td>
      <td>Least</td>
    </tr>
    <tr>
      <th>2-2.49</th>
      <td>AVG</td>
      <td>Most</td>
      <td>Least</td>
    </tr>
    <tr>
      <th>2.5-2.99</th>
      <td>AVG</td>
      <td>Most</td>
      <td>Least</td>
    </tr>
    <tr>
      <th>3-3.49</th>
      <td>AVG</td>
      <td>Most</td>
      <td>Least</td>
    </tr>
  </table>
</p>

<p>
  <h3>Trips Taken Based on Average Wind Speed</h3>
  <table>
    <tr>
      <th>Wind Speed Range(mph)</th>
      <th>Average Trips Taken</th>
      <th>Most Trips Taken</th>
      <th>Least Trips Taken</th>
    </tr>
    <tr>
      <th>0-3</th>
      <td>AVG</td>
      <td>Most</td>
      <td>Least</td>
    </tr>
    <tr>
      <th>4-7</th>
      <td>AVG</td>
      <td>Most</td>
      <td>Least</td>
    </tr>
    <tr>
      <th>8-11</th>
      <td>AVG</td>
      <td>Most</td>
      <td>Least</td>
    </tr>
    <tr>
      <th>12-15</th>
      <td>AVG</td>
      <td>Most</td>
      <td>Least</td>
    </tr>
    <tr>
      <th>16-19</th>
      <td>AVG</td>
      <td>Most</td>
      <td>Least</td>
    </tr>
    <tr>
      <th>20-23</th>
      <td>AVG</td>
      <td>Most</td>
      <td>Least</td>
    </tr>
  </table>
</p>

<p>
  <h3>Trips Taken Based on Average Visibility</h3>
  <table>
    <tr>
      <th>Visibility Range(miles)</th>
      <th>Average Trips Taken</th>
      <th>Most Trips Taken</th>
      <th>Least Trips Taken</th>
    </tr>
    <tr>
      <th>4-6</th>
      <td>AVG</td>
      <td>Most</td>
      <td>Least</td>
    </tr>
    <tr>
      <th>6-8</th>
      <td>AVG</td>
      <td>Most</td>
      <td>Least</td>
    </tr>
    <tr>
      <th>8-10</th>
      <td>AVG</td>
      <td>Most</td>
      <td>Least</td>
    </tr>
    <tr>
  </table>
