<h1>Create a New Trip</h1><br/>
<div class="col-md-12">
  <form action="/create_trips" method="post">
    <input type="hidden" name="_method" value="PUT"/>
    <div class="input-group">
      <label>Start Date:</label><br />
      <input placeholder="Start Date" type="text" name="start_date" class="form-control" value="" id="trip_start_date_input" aria-describedby="basic-addon3">
    </div><br /><br />
    <div class="input-group">
      <label>End Date:</label><br />
      <input placeholder="End Date"type="text" name="end_date" class="form-control" value="" id="trip_end_date_input" aria-describedby="basic-addon3">
    </div><br /><br />
    <div class="input-group">
      <label>Duration:</label><br />
      <input placeholder="Duration" type="text" name="duration" class="form-control" value="" id="trip_duration_input" aria-describedby="basic-addon3">
    </div><br /><br />
    <div class="input-group">
      <label>Start Station:</label><br />
      <input placeholder="Start Station" type="text" name="start_station" class="form-control" value="" id="trip_start_station_input" aria-describedby="basic-addon3">
    </div><br /><br />
    <div class="input-group">
      <label>End Station:</label><br />
      <input placeholder="End Station" type="text" name="end_station" class="form-control" value="" id="trip_end_station_input" aria-describedby="basic-addon3">
    </div><br /><br />
    <div class="input-group">
      <label>Bike ID:</label><br />
      <input placeholder="Bike ID" type="text" name="bike_id" class="form-control" value="" id="trip_bike_id_input" aria-describedby="basic-addon3">
    </div><br /><br />
    <div class="input-group">
      <label>Zip Code:</label><br />
      <input placeholder="Zip Code" type="text" name="zip_code" class="form-control" value="" id="trip_zip_code_input" aria-describedby="basic-addon3">
    </div><br /><br />
    <div class="input-group">
      <label>Subscription:</label><br />
      <input placeholder="Subscription" type="text" name="subscription" class="form-control" value="" id="trip_subscription_input" aria-describedby="basic-addon3">
    </div><br /><br />
    <input type="submit" value="Create Trip" class="btn btn-default">
  </form>
</div>
