
<h1>Bike Stations</h1><br/>

<% @stations.each do |station| %>
  <h2>Station Name: <%= station.name %></h2>
  <h2>Station Dock Count: <%= station.dock_count %></h2>
  <h2>Station Installation Date: <%= station.installation_date %></h2>
  <!-- <h2>Station City: <%= station.city.name %></h2> -->
<% end %>
