
<h1>Station Editor</h1><br/>

<form action="/stations" method="post">
  <!-- <input type="hidden" name="_method" value="post"/> -->
  <label for="">Station Name:</label>
  <input type="textfield" name="name" value=""><br/>
  <label for="">Latitude:</label>
  <input type="textfield" name="latitude" value=""><br/>
  <label for="">Longitude:</label>
  <input type="textfield" name="longitude" value=""><br/>
  <label for="">Dock Count:</label>
  <input type="textfield" name="dock_count" value=""><br/>
  <label for="">Installation Date:</label>
  <input type="textfield" name="installation_date" value=""><br/>
  <label for="">City (San Jose, Redwood City, Mountain View, Palo Alto and San Francisco):</label>
  <input type="textfield" name="city" value=""><br/>
  <input type="submit" value="Submit">
<br></br>
  <!-- <div class="dropdown">
  <button id="dLabel" type="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
    Dropdown trigger
    <span class="caret"></span>
  </button>
  <ul class="dropdown-menu" aria-labelledby="dLabel">
    <li>balls</li>
  </ul>
</div> -->
</form>
