<!DOCTYPE html>
<html lang="en">
  <head>
    <h1>Bike Share</h1>
    <meta charset="utf-8">
    <link rel="stylesheet" href="/css/bootstrap.css">
    <link rel="stylesheet" href="/css/styles.css">
  </head>ls


  <a href="/stations/new"><h3>Create a New Station</h3></a>
  <a href="/trips/new"><h3>Create a New Trip</h3></a>
  <a href="/station-dashboard"><h3>Station Dashboard</h3></a>
  <a href="/trip-dashboard"><h3>Trip Dashboard</h3></a>
  <a href="/weather-dashboard"><h3>Weather Dashboard</h3></a>

  <body>
     <%= yield %>
     <script src="https://code.jquery.com/jquery-3.1.1.slim.min.js" integrity="sha384-A7FZj7v+d/sdmMqp/nOQwliLvUsJfDHW+k9Omg/a/EheAdgtzNs3hpfag6Ed950n" crossorigin="anonymous"></script>
     <script src="https://cdnjs.cloudflare.com/ajax/libs/tether/1.4.0/js/tether.min.js" integrity="sha384-DztdAPBWPRXSA/3eYEEUWrWCy7G5KFbe8fFjk5JAIxUYHKkDx6Qin1DkWx51bBrb" crossorigin="anonymous"></script>
     <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha.6/js/bootstrap.min.js" integrity="sha384-vBWWzlZJ8ea9aCX4pEW3rVHjgjt7zpkNpZk+02D9phzyeVkE+jo0ieGizqPLForn" crossorigin="anonymous"></script>
     <script type="text/javascript" src="/js/main.js"></script>
  </body>
</html>
